
#room{
    width: 60%;
}

#chat{
    width: 60%;
}

#messages{
    background-color: black;
    color:white;
}

#send-message{
    margin-top:10px;
}

.navbar-inverse {
    color:white;
}

.btn-primary{
    margin-top:10px;
    background-color: black;

}